html
  head
    title Main
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.3.min.js',integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
  body
    if username
      p
        span(id="username")= username
        span
          a(href="/signout") Sign Out
    else
      p
        a(href="/signin") Sign In
