html
    head
        title Post
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.3.min.js',integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
    body
        form(name='postinfo', method = 'post', action = "/post/new")
            if errorMessage
                p(style="background: red") = errorMessage
            p
                label(for="title") New Post Title
                input(type="text", name="title")
            p
                label(for="body") Post Body
                input(type="text", name="body")
            p
                input(type="submit", value="Post")
