html
  head
    title Signin
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.3.min.js',integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
  body
    form(name='userinfo', method="post", action="/signin")
      if errorMessage
        p(style="background: red")= errorMessage
      p
        label(for="username") Username
        input(type="text", name="username")
      p
        label(for="password") Password
        input(type="password", name="password")
      p
        input(type="submit", value="Sign In")