html
    head
        title Post
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.3.min.js',integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
    body
      div
        p= post.title
        p= post.date
      div
        =post.body
      div= post
      p
        a(href="/posts/" + post._id + "/edit") Edit
